<h1>Cats</h1>
<% @cats.each do |cat| %>
  <%= cat.name %> </br>
<% end %>


<h1>Todos</h1>
<% @todos.each do |todo| %>
  <li><%= todo.tasks %></li>
  Finished: <%= todo.finished %></br>
<% end %>

<%= link_to("Add a new Todo!", new_todo_path) %> </br>

<h1>Users</h1>
<% @users.each do |user| %>
  <%= user.username %> </br>
  <%= user.email %> </br>
  <%= user.age %> </br>
<% end %>